In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datasets import load_dataset, DatasetDict, Dataset
from datasets import Dataset as HFDataset
import nltk

In [17]:
# Download necessary NLTK resources

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

import string


nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/blairjdaniel/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/blairjdaniel/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/blairjdaniel/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [24]:
ds = load_dataset('imdb')

In [25]:
ds_train = pd.DataFrame(ds['train']).head(10000)
ds_test = pd.DataFrame(ds['test']).head(10000)
ds_train.head()

                                                text  label
0  I rented I AM CURIOUS-YELLOW from my video sto...      0
1  "I Am Curious: Yellow" is a risible and preten...      0
2  If only to avoid making this type of film in t...      0
3  This film was probably inspired by Godard's Ma...      0
4  Oh, brother...after hearing about this ridicul...      0

In [26]:
# Function to remove punctuation from the text col
def remove_punctuation(text):
    text = "".join([char for char in text if char not in string.punctuation])

    return text

# Run the function on the datasets
ds_train['text_no_punct'] = ds_train['text'].apply(lambda x: remove_punctuation(x))
ds_test['text_no_punct'] = ds_test['text'].apply(lambda x: remove_punctuation(x))

In [27]:
import nltk
from nltk.tokenize import word_tokenize

def tokenize(text):
    # Convert text to lowercase and tokenize using nltk
    tokens = word_tokenize(text.lower())
    return tokens

In [28]:
# Run the tokenizer function on the df
nltk.download('punkt_tab')
ds_train['text_tokenized'] = ds_train['text_no_punct'].apply(lambda x: tokenize(x))
ds_test['text_tokenized'] = ds_test['text_no_punct'].apply(lambda x: tokenize(x))

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/blairjdaniel/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [30]:
ds_train.head()

,text,label,text_no_punct,text_tokenized
0,I rented I AM CURIOUS-YELLOW from my video sto...,0,I rented I AM CURIOUSYELLOW from my video stor...,"[i, rented, i, am, curiousyellow, from, my, vi..."
1,"""I Am Curious: Yellow"" is a risible and preten...",0,I Am Curious Yellow is a risible and pretentio...,"[i, am, curious, yellow, is, a, risible, and, ..."
2,If only to avoid making this type of film in t...,0,If only to avoid making this type of film in t...,"[if, only, to, avoid, making, this, type, of, ..."
3,This film was probably inspired by Godard's Ma...,0,This film was probably inspired by Godards Mas...,"[this, film, was, probably, inspired, by, goda..."
4,"Oh, brother...after hearing about this ridicul...",0,Oh brotherafter hearing about this ridiculous ...,"[oh, brotherafter, hearing, about, this, ridic..."

In [31]:
# Calculate the length of each tokenized review
ds_train['text_length'] = ds_train['text_tokenized'].apply(len)

# Calculate minimum, maximum, and average number of words
min_length = ds_train['text_length'].min()
max_length = ds_train['text_length'].max()
avg_length = ds_train['text_length'].mean()

In [32]:
# Calculate the length of each tokenized review
ds_test['text_length'] = ds_test['text_tokenized'].apply(len)

# Calculate minimum, maximum, and average number of words
min_length = ds_test['text_length'].min()
max_length = ds_test['text_length'].max()
avg_length = ds_test['text_length'].mean()

In [33]:
# Define a function to rid of stop words in English
def remove_stopwords(tokens):    
    stop_words = stopwords.words('english')
    return [word for word in tokens if word.lower() not in stop_words]

In [34]:
# Run the stop words function on the df
ds_train['text_no_stop'] = ds_train['text_tokenized'].apply(remove_stopwords)
ds_test['text_no_stop'] = ds_test['text_tokenized'].apply(remove_stopwords)

In [35]:
ds_train.to_csv('/Users/blairjdaniel/lighthouse/lighthouse/LLM-Sentiment-Analysis-lhl/csv_files/train.csv')
ds_test.to_csv('/Users/blairjdaniel/lighthouse/lighthouse/LLM-Sentiment-Analysis-lhl/csv_files/test.csv')